$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;
$only-mobile: 639px;
$only-tablet: 1023px;
$only-laptop: 1279px;

$white1000: rgba(255, 255, 255, 1);
$white800: rgba(255, 255, 255, 0.8);
$white400: rgba(255, 255, 255, 0.4);
$white300: rgba(255, 255, 255, 0.3);

$red1000: #ED1C24;

$black1000: #121212;

$spacing: 8px;

$maxWidth: 1620px;
